body{
    font-family: 'Microsoft YaHei UI Light','Microsoft YaHei Light','Microsoft YaHei','sans-serif'!important;
    background: #ecf0f4;
}

.container{
    padding-top: 62px;
    max-width: 720px;
}

#header-wrapper{
    position: fixed;height: 48px;width: 100%;background:#93a0a7;color: #fff;box-shadow: 0 5px 3px #837068;z-index: 100;top:0;
}
#header{
    max-width:800px;margin:0 auto;
}
#header #right-button{
    float: right;margin-top: 6px;margin-right:5px;padding: 0 12px;
}
#header #right-button:hover,#header #right-button:focus{
    color: #93a0a7;
}
#header #logo{
    color: #fff1d1;
}
#header #logo p{
    font-size: 28px;margin: 5px 15px;
}
#header #logo:focus,#header #logo:hover{
    text-decoration: none;
    color: #fff7df;
}


/*-- main --*/
.main{
    width: 30%;
    margin: 3em auto 0;
    padding: 4em 4em 5em;
    background: #ecf0f4;
    position:relative;
}
.main:before{
    position:absolute;
    top: -30px!important;
    left: 44%;
    background:url(../img/triangle.png) no-repeat 0px 0px;
    display:block;
    height:35px;
    width:68px;
    content:'';
}
.head {
    margin:0 0 3em;
}
.head h1{
    color:black;
    text-align:center;
    font-size:2em;
    margin:0;
}
.figure{
    text-align:center;
    margin:4em auto;
}
.figure img {
    width: 10%;
    margin: 0 auto;
    border: 5px solid #e3e7ed;
}


.input_form{
    position: relative;
    display: inline-block;
    color: #b2c8d6
}
.input_form span{
    position: absolute;
    top: 8px;
    left: 15px;
}
.input_form .fa{
    font-size: 24px;
}

.input_form input[type="text"],.input_form input[type="password"],.input_form input[type="email"],.input_form input[type="date"],.input_form input[type="number"]{
    outline: none;
    border: none;
    background: #f2f7fa;
    padding: 10px 10px 10px 60px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.input_form a
{
    outline: none;
    border: none;
    background: #f2f7fa;
    padding: 10px 10px 10px 60px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;

    font-family: inherit;
    line-height: inherit;
    margin: 0;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    box-sizing: border-box;
    -webkit-writing-mode: horizontal-tb;
}

a:hover
{

}
a input[type="file"]
{
    position:absolute;
    right:0;
    top:0;
    opacity: 0;
    filter:alpha(opacity=0);

    outline: none;
    border: none;
    background: #f2f7fa;
    padding: 10px 10px 10px 60px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}
input[type="range"]
{
    margin: 10px 0px 14px 13px;
    background-image: url(../img/range-bar.png);
    border-radius: 15px;
    -webkit-appearance: none;
    height: 10px;
    display: block;
    width: 227.6px;
    float: left;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font: inherit;
    color: inherit;
    box-sizing: border-box;
    padding: initial;
    border: initial;
    background-color: white;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    text-align: start;
    -webkit-writing-mode: horizontal-tb;

}
input[type="range"]::-webkit-slider-container
{
    border-bottom-color: ;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    top: -5px;
    height: 18px;
    width: 18px;
    background: #fff;
    border-radius: 15px;
    cursor: pointer;
    border: 4px solid #93a0a7;
}
input[type="range"]::-webkit-slider-thumb:hover {
    background: #f2f7fa;
    border-color: #93a0a7;
}
#photo_upload:hover
{
    color: #93a0a7;
    text-decoration: none;
}
.numberbox{
    width:42px!important;
    height:42px!important;
    float:right!important;
    text-align:center!important;
    margin-top:-10px!important;
    margin-left:10px!important;
    font-size:30px!important;
    color:#70818b;
    padding: 0px!important;
}
textarea{
    outline: none;
    border: none;
    background: #f2f7fa;
    padding: 10px 10px 10px 10px;
    width: 100%;
    font-size: 1.1em;
    border-radius: 5px;
}

.footer{
    text-align:center;
    padding:2em 0 0;
}
.footer p{
    font-size: 10px;
    color:#f2f7fa;
    margin:0;
}
a{
    color:#fff;
}
a:hover{
    color:#f2f7fa;
}
/*-- start-responsive-design --*/
@media (max-width:1280px){
    .main {
        width: 40%;
    }
}
@media (max-width: 1024px){
    .main {
        width: 45%;
    }
    .figure img {
        width: 13%;
    }
}
@media (max-width:768px){
    .figure img {
        width: 17%;
    }
    .main {
        width: 60%;
    }
}
@media (max-width:667px){
    .main {
        padding: 3em 3em 4em;
        width: 65%;
    }
}
@media (max-width:640px){
    .figure {
        margin: 3em auto;
    }
}
@media (max-width:600px){
    .head h1 {
        font-size: 1.8em;
    }
    .head {
        margin: 0 0 2em;
    }
    .main:before {
        left: 43%;
    }
}
@media (max-width:568px){
    .figure img {
        width: 20%;
        border: 3px solid #ecf0f4;
    }
    .main {
        width: 68%;
    }
}
@media (max-width:480px){
    .figure img {
        width: 25%;
    }
    .main {
        width: 80%;
        padding: 2em 2em 3em;
    }
}
@media (max-width:414px){
    .head h1 {
        font-size: 1.5em;
    }
}
@media (max-width:384px){
    .figure {
        margin: 2em auto;
    }
    .figure img {
        width: 30%;
    }
    .main {
        width: 85%;
        padding: 1.5em 1.5em 3em;
        margin: 2.5em auto 0;
    }
}
@media (max-width:375px){
    .main:before {
        left: 41%;
    }
}
@media (max-width:320px){
    .main:before {
        background: url(../img/triangle.png) no-repeat 0px 0px;
        background-size: 100%;
        height: 25px;
        width: 45px;
        left: 42%;
    }
    .head h1 {
        font-size: 1.2em;
    }
    .head {
        margin: 0 0 1.5em;
    }
    .main {
        width: 84%;
        padding: 1.5em 1.5em 2em;
        margin: 2em auto 0;
    }
}

#form_signup .wrapper{
    width: 90%;margin: 18px 5% 0;
}