/* Default tab style */

.tabs {
    position: fixed;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
    bottom: 0;
    left:0;
}

/* Nav */
.tabs nav {
    text-align: center;
}

.tabs nav ul {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
    list-style: none;
    -ms-box-orient: horizontal;
    -ms-box-pack: center;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
}

.tabs nav ul li {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0;
    text-align: center;
    -webkit-flex: 1;
    -moz-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.tabs nav a {
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 2.5;
}

.tabs nav a span {
    vertical-align: middle;
    font-size: 1em;
}

.tabs nav li.tab-current a {
    color: #74777b;
}

.tabs nav a:focus {
    outline: none;
}

/* Icons */
.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Content */
.content-wrap {
    position: relative;
}

.content-wrap section {
    display: none;
    margin: 0 auto;
    padding: 1em;
    max-width: 1200px;
    text-align: center;
}

.content-wrap section.content-current {
    display: block;
}

.content-wrap section p {
    margin: 0;
    padding: 0.75em 0;
    color: rgba(40,44,42,0.05);
    font-weight: 900;
    font-size: 4em;
    line-height: 1;
}

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

.no-flexbox nav ul li {
    min-width: 15%;
    display: inline-block;
}


/*****************************/
/* Top Line */
/*****************************/

.tabs-style-topline nav li {
    border: 1px solid rgba(40,44,42,0.1);
}

.tabs-style-topline nav li:not(:last-child) {
    border-right: none;
}

.tabs-style-topline nav li.tab-current {
    border-top-color: #927057;
    border-bottom: none;
}

.tabs-style-topline nav a {
    padding: 0.65em 0 0.5em;
    background: #E0CFA7;
    color: #807865;
    line-height: 1;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.tabs-style-topline nav a:hover,
.tabs-style-topline nav a:focus {
    color: #927057;
    text-decoration: none;
}

.tabs-style-topline nav li.tab-current a {
    background: #efe1c4;
    box-shadow: inset 0 3px 0 #927057;
    color: #927057;
}

.tabs-style-topline .icon::before {
    display: block;
    margin: 0;
}

.tabs-style-topline nav a span {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 12px;
}